*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hidden{
  display:none;
}

p {
  font-size: 25px;
  color: white;
}

.btn:hover {
  border-color: rgb(255, 0, 0);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgba(99, 4, 252, 0.639);
  padding: 10px 10px;
  outline: none;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: thin;
  padding: 10px 10px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.351);
  border-radius: 1px;
  padding: 10px;
  box-shadow: rgba(104, 1, 249, 0.589) 0 0 20px 20px;
}
